.currencyconverter__page--wrapper {
  background: #0a146e;
  margin: 0 auto;
  padding: 64px 24px;
  margin: 0px auto;
  max-width: 1200px;
  position: relative;
  min-height: 200px;
  background-image: url("~/public/assets/logo/Bob-header-test-4.gif");
  width: 100%;
  background-size: cover;
}

.currency__heading--container {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
  min-height: 10.5rem;
}

.currencyconverterpage__title {
  color: rgb(255, 255, 255);
  font-weight: 600;
  line-height: 1.3;
  font-size: 2.4rem;
}

.currencyconverterpage__paragraph {
  color: rgb(255, 255, 255);
}

.currency__wrapper {
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(35 55 80 / 30%) 0px 6px 12px;
  max-width: 800px;
  max-width: max-content;
  position: absolute;
  top: 200px;
  padding: 48px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.currency__container {
  display: grid;
  gap: 4px 16px;
  grid-auto-flow: column;
  grid-template-columns: minmax(100px, 1fr) minmax(80px, 1fr) auto minmax(
      80px,
      1fr
    );
  align-items: center;
  justify-items: center;
}

.currency__select,
.currency__input {
  margin: 0 auto;
  text-align: center;
  padding: 12px;
  padding-right: 40px;
  cursor: pointer;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 6px;
  font: inherit;
}

.label {
  justify-self: start;
  margin: 0px;
  align-self: flex-start;
  display: inline-block;
  font-weight: 600;
  color: rgb(20, 30, 55);
}

@media screen and (max-width: 600px) {
  .currency__container {
    display: flex;
    flex-direction: column;
  }
}
