.page__content--wrapper {
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(35 55 80 / 30%) 0px 6px 12px;
  max-width: 800px;
  max-width: max-content;
  position: absolute;
  top: 200px;
  padding: 0 48px 48px 48px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: start;
}

@media screen and (max-width: 500px) {
  .page__content--wrapper {
    margin-bottom: 400px;
    padding: 15px;
  }
}
