.main__page--container {
  height: 90%;
  position: relative;
  margin-bottom: 100px;
}

.main__page--wrapper {
  background: #0a146e;
  padding: 54px 24px;
  margin: 0px auto;
  max-width: 1200px;
  position: relative;
  min-height: 200px;
  background-image: url("~/public/assets/logo/Bob-header-test-4.gif");
  width: 100%;
  background-size: cover;
}
